* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background-color: pink;
  color: #333;
}
nav {
  background-color: black;
  padding: 15px 0;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
nav ul li {
  margin: 0 15px;
}
nav ul li a {
  color: yellow;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover {
  color: orange;
}

section {
  padding: 40px;
  
  max-width: 970px;
  margin: auto;
    background-color: greenyellow;
    background-image:url(https://raw.githubusercontent.com/Angielica15/Actsssssss/main/091d4f1bebc76ea61eec0b9d8af26e5f.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0px;
  border-radius: 50px;
}
h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}
p {
  text-align: center;
  color: orange;
}

footer {
  background-color: black;
  color: yellow;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about{
      background-image:url(https://raw.githubusercontent.com/Angielica15/Actsssssss/main/IMG_20260110_120449.jpg)
}
.about p {
  margin: 10px 0;
  font-size: 20px;
  color: black;
}
.contact{
      background-image:url(https://raw.githubusercontent.com/Angielica15/Actsssssss/main/5bd489b659f645e4a85b2df067d998a362ee17b7883cf9e54e5b1984e1899a6e.jpg);
}
.contact p {
  margin: 10px 0;
  font-size: 20px;
  color: black;
} 


.skills{
      background-image:url( https://raw.githubusercontent.com/Angielica15/Actsssssss/main/stock-photo-skill-concept-key-and-a-note-on-a-white-background-548263774.jpg);
}

.skills p {
  margin: 10px 0;
  font-size: 20px;
  color: black;
}

.box1{
        width: 200px;
        height: 250px;
        border: 3px solid orange ;
        margin-left: -20px;
        margin-top: 10px;
   

    }
    .box2{
        width: 200px;
        height: 250px;
        border: 3px solid orange;
        margin-left: 200px;
        margin-top: -255px;

    }
    .box3{
        width: 200px;
        height: 250px;
        border: 3px solid orange;
        margin-left: 420px;
        margin-top: -250px;

    }    .box4{
        width: 200px;
        height: 250px;
        border: 3px solid orange;
        margin-left: 640px;
        margin-top: -250px;
    }
